body {
  background: #f4f4f4;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  place-items: center;
  height: 100%;
  margin: 0;


}

.App {
  width: 80%;
  margin: 0 auto;
  margin-top: 130px;

}

.container {
  margin: 0;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


}

.header {
  display: flex;
  margin: 0;
  min-height: 60px;
  place-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

}

.header-title {
  margin-left: 25px;
  font-size: 28px;
}

.destination-container {
  margin-left: 20px;
  margin-bottom: 20px;

}

img {
  display: block;
  width: 100%;
  object-fit: cover
}

.destination-description {
  background-color: white;
}

.address-container {
  display: flex;
  padding-left: 3px;
}

.city-ination {
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
}

.city {
  text-trans: capitalize;
}

.address {
  font-size: 16px;
  text-trans: capitalize
}

.city-information {
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
}


/* MODAL */



.close-modal {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.modal-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


input[type="text"] {
  appearance: none;
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  margin-top: 16px;
  width: 500px;
}

input[type="checkbox"] {
  height: 12px;
  width: 50px;
}

.modal-destination-data {
  width: 500px;
  display: flex;

  justify-content: space-between;

}

.modal-destination-data input[type="text"],
.modal-destination-data input[type="number"] {
  appearance: none;
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  margin-top: 16px;
  width: 22%;

}

.modal-actions {
  margin-top: 80px;
  float: right;
}

.modal-actions span {
  margin-left: 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.confirm {
  color: green;
}



/* ***************** Checkbox ********************* */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


.container-checkbox {
  color: #435757;
  font: 1.4em/1 'Noto Sans', sans-serif;

}

.container-checkbox input {
  position: absolute;
  left: -9999px;
}

label {
  width: 10%;
  display: block;
  position: relative;
  margin: 20px;
  padding: 15px 30px 15px 0px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

label:hover, input:focus+label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked+label {
  background-color: forestgreen;
}

input:checked+label::before {
  background-color: #fff;
}